@model SuggestionFormModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <img src="~/images/headerlogo.png" class="img-responsive center-block"  />

    <div class="body-text">
        <p class="text-center">The Whiskey Study was created to help document my adventure into Whiskey, specifically helping folks finding the perfect bottle.</p>

        <h3 class="text-center">Whiskey Suggestion</h3>
        <p class="text-center">Fill in the form below to get suggestions based on your likes/dislikes</p>
        
        <div class="form-group">
            <div class="row">                       
                <form asp-controller="Suggestion" asp-action="Index" method="post">
                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.LikesRye)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.LikesRye" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.LikesCaramel)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.LikesCaramel" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.LikesSmooth)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.LikesSmooth" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.LikesHighProof)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.LikesHighProof" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.LikesSweet)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.LikesSweet" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.WantsReadilyAvailable)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.WantsReadilyAvailable" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.MostImportantAspect)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.MostImportantAspect" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.MostImportantSuggestionChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.DrinkType)
                        </div>
                        <div class="entry">
                            <select asp-for="@Model.DrinkType" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.DrinkTypeChoices>()" class="form-control"></select>
                        </div>
                    </div>

                    <div class="SuggestionFormContainer">
                        <div class="entryLabel">
                            @Html.LabelFor(a => a.MaxPrice)
                        </div>
                        <div class="entry">
                            <input type="number" asp-for="MaxPrice" class="form-control" />
                        </div>
                    </div>

                    <button type="submit" value="Submit" class="btn btn-primary center-block">Submit</button>
                </form>                
            </div>
        </div>
    </div>
</div>