@model SuggestionFormModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 20px;">
    <img src="~/images/headerlogo.png" class="img-responsive center-block"  />

    <div class="body-text">
        The Whiskey Study was created to help document my adventure into Whiskey, specifically helping folks finding the perfect bottle.<br/><br/>

        <h3>Whiskey Suggestion</h3>
        <p>Fill in the form below to get suggestions based on your likes/dislikes</p>
        
        <div class="form-group">

        <label class="col-sm-2"></label>
            <div class="col-sm-10">        
                <form asp-controller="Suggestion" asp-action="Index" method="post">
                    <div class="checkbox">

                        @Html.CheckBoxFor(a => a.LikesRye)
                        @Html.LabelFor(a => a.LikesRye)
                    </div>

                    <div class="checkbox">
                        @Html.CheckBoxFor(a => a.LikesCaramel)
                        @Html.LabelFor(a => a.LikesCaramel)
                    </div>

                    <div class="checkbox">
                        @Html.CheckBoxFor(a => a.LikesSmooth)
                        @Html.LabelFor(a => a.LikesSmooth)
                    </div>

                    <div class="checkbox">
                        @Html.CheckBoxFor(a => a.LikesHighProof)
                        @Html.LabelFor(a => a.LikesHighProof)
                    </div>

                    <div class="checkbox">
                        @Html.CheckBoxFor(a => a.LikesSweet)
                        @Html.LabelFor(a => a.LikesSweet)
                    </div>

                    <div class="checkbox">
                        @Html.CheckBoxFor(a => a.WantsReadilyAvailable)
                        @Html.LabelFor(a => a.WantsReadilyAvailable)
                    </div>

                    <div class="checkbox">
                        @Html.TextBoxFor(a => a.MaxPrice)
                        @Html.LabelFor(a => a.MaxPrice)
                    </div>

                    <button type="submit" value="Submit" class="btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>