@model List<thewhiskeystudy.lib.Objects.LeaderboardListResponseItem>

@{
    ViewBag.Title = "Leaderboard";
}

<h1>Leaderboard</h1>

@foreach (var category in Model.GroupBy(a => a.Type).Select(b => b.Key))
{
    <h3>@category</h3>

    <table class="table table-bordered" data-provide="datagrid">
        <thead>
            <tr>
                <td>Ranking</td>
                <td>Name</td>
                <td>Distillery</td>
                <td>Aged</td>
                <td>ABV</td>
                <td>Price (USD)</td>
                <td>Rating</td>
                <td>Ease to Find</td>
                <td>Nose</td>
                <td>Tasting Notes</td>
            </tr>
        </thead>
        <tbody>
            @{ int index = 0; }

            @foreach (var review in Model.Where(a => a.Type == category).OrderByDescending(b => b.Rating))
            {
                <span style="display: none">
                    @(++index)
                </span>

                <tr>
                    <td>@index</td>
                    <td>@review.Name</td>
                    <td>@review.Distillery</td>
                    <td>@review.Aged</td>
                    <td>@review.ABV</td>
                    <td>$@review.Price</td>
                    <td>@review.Rating</td>
                    <td>@review.EaseToFind</td>
                    <td>@review.Nose</td>
                    <td>@review.TastingNotes</td>
                </tr>
            }
        </tbody>
    </table>
}