@page "/"
@using System.Text.Json
@using thewhiskeystudy.web.Models

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 id="homeHeading">Tired of not finding that perfect Whiskey?</h1>
                    <hr>
                    <p>The Whiskey Study was created to help avoid that very common situation where you buy a very hyped up bottle, only to find it was not worth it.</p>
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Start your journey</a>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary text-center" id="about">
    <div class="container h-100">
        <div class="row h-100">
            <h3 class="text-center">Whiskey Suggestion</h3>
            <p class="text-center">Fill in the form below to get suggestions based on your likes/dislikes</p>

            <div class="form-group">
                <div class="row">
                    <EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Likes Rye</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesRye" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Likes Caramel</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesCaramel" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Likes Smooth</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesSmooth" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Likes High Proof</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesHighProof" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Likes Sweet</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesSweet" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Wants Readily Available</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.WantsReadilyAvailable" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Most Important Aspect</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.MostImportantAspect" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.MostImportantSuggestionChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Drink Type</label>
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.DrinkType" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.DrinkTypeChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                <label>Max Price</label>
                            </div>
                            <div class="entry">
                                <input type="number" asp-for="MaxPrice" class="form-control" />
                            </div>
                        </div>

                        <button type="submit" value="Submit" class="btn btn-primary center-block">Submit</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</section>

@code
{
    private SuggestionFormModel Model = new SuggestionFormModel();

    private async void HandleValidSubmit()
    {
        await new HttpClient().PostAsync("/Suggestion", new StringContent(JsonSerializer.Serialize(Model)));
    }
}