@page "/"

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Tired of not finding that perfect Whiskey?</h1>
            <hr>
            <p>The Whiskey Study was created to help avoid that very common situation where you buy a very hyped up bottle, only to find it was not worth it.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Start your journey</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about" style="background-image: url('/images/contentbackground.jpg'); color: black;">
    <div class="container">
        <div class="row">
            <h3 class="text-center">Whiskey Suggestion</h3>
            <p class="text-center">Fill in the form below to get suggestions based on your likes/dislikes</p>

            <div class="form-group">
                <div class="row">
                    <form asp-controller="Suggestion" asp-action="Index" method="post">
                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.LikesRye)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesRye" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.LikesCaramel)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesCaramel" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.LikesSmooth)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesSmooth" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.LikesHighProof)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesHighProof" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.LikesSweet)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.LikesSweet" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.WantsReadilyAvailable)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.WantsReadilyAvailable" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.SuggestionFormChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.MostImportantAspect)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.MostImportantAspect" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.MostImportantSuggestionChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.DrinkType)
                            </div>
                            <div class="entry">
                                <select asp-for="@Model.DrinkType" asp-items="Html.GetEnumSelectList<thewhiskeystudy.lib.Enums.DrinkTypeChoices>()" class="form-control"></select>
                            </div>
                        </div>

                        <div class="SuggestionFormContainer">
                            <div class="entryLabel">
                                @Html.LabelFor(a => a.MaxPrice)
                            </div>
                            <div class="entry">
                                <input type="number" asp-for="MaxPrice" class="form-control" />
                            </div>
                        </div>

                        <button type="submit" value="Submit" class="btn btn-primary center-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>